/*
  Consigna:
  Asignar las propiedades que correspondan para que:
  a) container-1 posicione sus ítems al final de sí mismo sobre el eje X.
  b) container-2 posicione los ítems al centro sobre el eje Y.
  c) container-3 los posiciones al principio sobre el eje X.
  */

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .container{
    min-width: 500px;
    margin: auto;
    background-color: #d3d3d3;
    display: flex;
    justify-content: space-evenly;
  }
  
  .container-1 {
    justify-content: flex-end;
  }
  
  .container-2 {
    justify-content: center;
    
  }
  
  .container-3 {

    justify-content: flex-start;
   
  }
  
  .item{
    flex-basis: 100px;
    max-height: 100px;
    line-height: 100px;
    color: white;
    border-radius: 10px;
    margin: 5px;
    background-color: #bc3b69;
  }